/Far Manager/Profile/PluginsData
/TOOLS/putty.log
/npp/config.xml
/npp/stylers.xml
/TOOLS/KeePass/KeePass.config.xml
/npp/session.xml
/TOOLS/EditPadLite7Bars.ini
/TOOLS/Settings/HxD Hex Editor.ini
/totalcmd/default.br2
/Far Manager/Profile/FarMenu.ini
