:    &Vim (edit file)
     "%ct%\Vim\vim82\gvim.exe" --remote-tab-silent !&
F2:  Explorer
     @explorer.exe /select, "!\!.!"
:    grep search
     grep -ir --include=!?$GrepInclude$Только в файлах?! --context=!?$GrepContext$Строк контекста?! --line-number !?$GrepHist$Искать?! * > %TEMP%\_grep_search_results.txt
     "%CTX%\Vim\vim82\gvim.exe" --remote-tab-silent "%TEMP%\_grep_search_results.txt"
:    Сравнение файлов
{
:    Сравнить файл с таким же в другой панели
     if exist "!#!\!^!.!" "C:\Program Files\TortoiseGit\bin\TortoiseGitMerge.exe" /base:"!\!.!" /mine:"!#!\!^!.!"
:    Сравнить два помеченных файла в одной панели
     "C:\Program Files\TortoiseGit\bin\TortoiseGitMerge.exe" !&
:    Сравнить два помеченных файла в разных панелях
     "C:\Program Files\TortoiseGit\bin\TortoiseGitMerge.exe" /base:"!\!&~" /mine:"!#!\!&~"
:    Сравнить файл с таким же в другой панели (PBLS)
     if exist "!#!\!^!.!" pbls.exe "!\!.!" "!#!\!^!.!"
:    Сравнить два помеченных файла в одной панели (PBLS)
     pbls.exe !&
:    Сравнить два помеченных файла в разных панелях (PBLS)
     pbls.exe "!\!&~" "!#!\!&~"
}
:    ctags рекурсивно на указанных каталогах (BLS)
     ctags --recurse=yes --language-force=Pascal !& *.bls
:    ctags рекурсивно на указанных каталогах (JS)
     ctags --recurse=yes --language-force=JavaScript !& *.js
:    Ctags рекурсивно на указанных каталогах - Java
     ctags --recurse=yes --language-force=Java !& *.java
:    ctags в текущем каталоге (Python)
     ctags --recurse=yes --language-force=Python *.py
:    &Directory hotlist
{
:    [/home]
     cd /D %USERPROFILE%
}
:    &SVN
{
:    &Add
     "C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe" /command:add /notempfile /path:"!\!.!"
:    &Update
     "C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe" /command:update /notempfile /path:"!\!.!"
:    &Revert
     "C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe" /command:revert /notempfile /path:"!\!.!"
:    &Commit
     "C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe" /command:commit /notempfile /path:"!\!.!"
:    Check for &modifications
     "C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe" /command:repostatus /notempfile /path:"!\!.!"
:    &Browse repository
     "C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe" /command:repobrowser /notempfile /path:"!\!.!"
:    Show &log
     "C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe" /command:log /notempfile /path:"!\!.!"
:    Blame
     "C:\Program Files\TortoiseSVN\bin\TortoiseProc.exe" /command:blame /notempfile /path:"!\!.!"
}
G:   Git
{
:    &Commit
     "C:\Program Files\TortoiseGit\bin\TortoiseGitProc.exe" /command:commit /notempfile /path:"!\!.!"
:    Show &log
     "C:\Program Files\TortoiseGit\bin\TortoiseGitProc.exe" /command:log /notempfile /path:"!\!.!"
}
:    Debug WSH Script
     wscript //D //X "!\!.!"
:    Generate png from dot
     "C:\Program Files (x86)\Graphviz2.38\bin\dot.exe" "!\!.!" -Tpng > !.png
:    Exec &python script
     python.exe "!\!.!"
:    Открыть в EditPadLite7.exe (для больших логов)
     %ct%\TOOLS\EditPadLite7.exe !&
:    Open with hiew
     hiew32demo.exe !&
:    Execute Haskell .hs file
     runhaskell.exe !&
